<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TTH Messenger - Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>TTH MESSENGER</h1>
        <form>
            <input type="email" placeholder="Электронная почта">
            <input type="password" placeholder="Пароль">
            <button type="submit">Войти</button>
        </form>
        <a href="#">Забыли пароль?</a>
    </div>
</body>
</html>
